@model IEnumerable<DataLayer.Models.TblBannerAndSlide>
@{
    ViewData["Title"] = "اسلایدر";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using NimaProj.Utilities

<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">
                <div class="pr-1 pt-2">
                    <div class="form-group pb-0 mb-0">
                        <button id="Create" data-toggle="modal" data-target="#modalSave" class="btn btn-success btn-sm">افزودن<span class="icon-holder uk-margin-small-right" uk-icon="add-circle-outline"></span></button>
                    </div>
                </div>
            </div>
            <div id="card-table" class="card-body flex-div">
                <div class="table-responsive flex">
                    <table class="table fixed">
                        <thead class="thead-light">
                            <tr>
                                <th>نام</th>
                                <th>عکس</th>
                                <th>بنر پایین سایت</th>
                                <th>تاریخ انقضا</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="sliderId_@item.BannerAndSlideId">
                                    <td>@item.Name</td>
                                    <td>
                                        <img src="~/Images/Slider/@item.ImageUrl" style="max-width:100px" alt="@item.Name" />
                                    </td>
                                    <td>
                                        @if (item.IsBanner)
                                        {

                                            <span data-placement="top" id="IsActive" data-toggle="tooltip" title="" data-original-title="فعال">
                                                <a onclick="activeBaner(@item.BannerAndSlideId)">
                                                    <span class="text-success" uk-icon="toggle"></span>
                                                </a>
                                            </span>
                                        }
                                        else
                                        {
                                            <span data-placement="top" id="IsActive" data-toggle="tooltip" title="" data-original-title="غیر فعال">
                                                <a onclick="activeBaner(@item.BannerAndSlideId)">
                                                    <span class="text-secondary gly-rotate-180" uk-icon="toggle"></span>
                                                </a>
                                            </span>
                                        }
                                    </td>
                                    <td>@item.ActiveTill.AllToShamsi()</td>
                                    <td>
                                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="ویرایش">
                                            <a onclick="Edit(@item.BannerAndSlideId)" data-toggle="modal" data-target="#modalSave" class="text-primary" uk-icon="create-outline"></a>
                                        </span>
                                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="حذف">
                                            <a onclick="RemoveSlider(@item.BannerAndSlideId)" class="text-danger" uk-icon="trash"></a>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer bg-white">
                <nav aria-label="Page navigation example">
                    @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                </nav>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script>
        function activeBaner(id) {
            $("#overlay").fadeIn(300);
            $.get("/Admin/Slider/ActiveBaner/" + id, function (result) {
                //$('#listUser').html(result);
                //$("#overlay").fadeOut(300);
                location.reload();
            });
            $("#overlay").fadeOut(300);
        }
        $("#Create").click(function () {
            $(".modal-content").html("");
            $.get("/Admin/Slider/Create", function (result) {
                $(".modal-content").html(result);
            });
        });
        function Edit(id) {
            $(".modal-content").html("");
            $.get("/Admin/Slider/Edit/" + id, function (result) {
                $(".modal-content").html(result);
            });
        }
        function RemoveSlider(Id) {
            if (confirm('آیا از حذف اسلایدر مورد نظر مطمئن هستید؟')) {
                $.post("/Admin/Slider/RemoveSlider/" + Id, function (result) {
                    if (result == "true") {
                        /* window.location.reload();*/
                        $('#sliderId_' + Id).addClass('text-danger');
                        $("#sliderId_" + Id).hide('slow');
                    }
                });
            } else {
                // Do nothing!
            }
        }

    </script>
}