@model IEnumerable<DataLayer.Models.TblOrder>

@using NimaProj.Utilities

@{
    ViewData["Title"] = "همه سفارشات";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/datePersion/persianDatepicker-default.css" rel="stylesheet" />

<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">
                <div class="pr-1 pt-2">
                    <div class="card-form form-row">
                        <div class="form-input">
                            <div class="form-inline">
                                <div class="form-group mx-sm-1 mb-2">
                                    <input id="SearchInputId" class="form-control uk-text-small" type="text" placeholder="کد سفارش" value="">
                                </div>
                                <div class="form-group mx-sm-1 mb-2">
                                    <input id="SearchInputUserPhone" class="form-control uk-text-small" type="number" placeholder="شماره تماس مشتری" value="">
                                </div>
                                <div class="form-group mx-sm-1 mb-2">
                                    <input readonly id="startDate" class="form-control uk-text-small" type="text" placeholder="از تاریخ  " value="">
                                </div>
                                <div class="form-group mx-sm-1 mb-2">
                                    <input readonly id="endDate" class="form-control uk-text-small" type="text" placeholder="تا تاریخ  " value="">
                                </div>
                                <div class="form-group mx-sm-1 mb-2">
                                    <input type="radio" name="orderValue" style="margin:0 10px 0 0" value="-1" /> <span class="text-danger">لغو شده </span>
                                    <input type="radio" name="orderValue" style="margin:0 10px 0 0" value="0" /> <span class="text-warning">در حال آماده سازی</span>
                                    <input type="radio" name="orderValue" style="margin:0 10px 0 0" value="1" /> <span class="text-success">تکمیل شده</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-toolbar mr-3">
                            <button onclick="BtnSearch()" type="button" class="btn btn-primary btn-sm">جستجو<span class="icon-holder uk-margin-small-right" uk-icon="search-outline"></span></button>
                        </div>
                    </div>

                </div>
            </div>
            <div id="card-table" class="card-body flex-div">
                <div class="table-responsive flex">
                    <table class="table fixed">
                        <thead class="thead-light">
                            <tr>
                                <th>کد سفارش</th>
                                <th>تاریخ ثبت سفارش</th>
                                <th>نوع سفارش</th>
                                <th>وضعیت</th>
                                <th>جزئیات</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.OrdeId</td>
                                    <td>@item.DateSubmited.AllToShamsi()</td>
                                    <td>
                                        @if (item.IsFinaly)
                                        {
                                            <span class="text-success">خرید آنلاین(پرداخت شده)</span>
                                        }
                                        else if (item.IsFinaly == false)
                                        {
                                            <span class="text-danger">پرداخت نشده</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.Status != -1)
                                        {

                                            @if (item.Status == 0)
                                            {
                                                <span class="text-warning">در حال آماده سازی</span>
                                            }
                                            else if (item.Status == 1)
                                            {
                                                <span class="text-success">تکمیل شده</span>
                                            }
                                        }
                                        else if (item.Status == -1)
                                        {
                                            <span class="text-danger"> سفارش توسط شما لغو شده است</span>
                                        }

                                    </td>
                                    <td>
                                        @if (item.IsFinaly == true)
                                        {
                                            <span data-placement="top" data-toggle="tooltip" data-original-title="جزئیات">
                                                <a onclick="OrderInfo(@item.OrdeId)" data-toggle="modal" data-target="#modalSave" class="text-primary" uk-icon="information-circle-outline"></a>
                                            </span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.IsFinaly == true && item.Status != -1)
                                        {
                                            @if (item.Status == 0)
                                            {
                                                <span data-placement="top" data-toggle="tooltip" title="" data-original-title="ارسال سفارش">
                                                    <a onclick="SendOrder(@item.OrdeId)" class="text-info" uk-icon="send-outline"></a>
                                                </span>
                                                <span data-placement="top" data-toggle="tooltip" title="" data-original-title="لغو سفارش">
                                                    <a onclick="deleteFractional(@item.OrdeId)" class="text-danger" uk-icon="close-circle-sharp"></a>
                                                </span>
                                            }
                                            else if (item.Status == 1)
                                            {
                                                <span class="text-success">تکمیل شده</span>
                                            }


                                        }
                                        else if (item.Status == -1 && item.IsFinaly)
                                        {
                                            <span data-placement="top" data-toggle="tooltip" title="" data-original-title="برگرداندن به حالت ارسال">
                                                <a onclick="redreshFractional(@item.OrdeId)" class="text-success" uk-icon="refresh-circle-sharp"></a>
                                            </span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer bg-white">
                <nav aria-label="Page navigation example">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">

                            @if (ViewBag.PageId == 1)
                            {
                                <li class="page-item d-none">
                                    <a class="page-link" onclick="Page(@((int)ViewBag.PageId-1))">قبلی</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="/Admin/Order/AllOrder?pageId=@(ViewBag.PageId-1)&InPageCount=@ViewBag.InPageCount&OrderId=@ViewBag.OrderId&TellNo=@ViewBag.TellNo&StartDate=@ViewBag.StartDate&EndDate=@ViewBag.EndDate&StatusSelected=@ViewBag.StatusSelected">قبلی</a>
                                </li>

                            }

                            <li class="page-item">
                                <select id="pageNumber" class="custom-select custom-select-sm">
                                    @for (int i = 1; i <= (ViewBag.PageCount + 1); i++)
                                    {
                                        if (ViewBag.pageId == i)
                                        {
                                            <option class="page-item" selected value="@i">صفحه @i از @((int)ViewBag.PageCount + 1)</option>
                                        }
                                        else
                                        {
                                            <option class="page-item" value="@i">صفحه @i از @((int)ViewBag.PageCount + 1)</option>

                                        }
                                    }
                                </select>
                            </li>


                            @if ((int)ViewBag.PageId > (int)ViewBag.PageCount)
                            {
                                <li class="page-item d-none">
                                    <a class="page-link" onclick="Page(@((int)ViewBag.PageId + 1))">بعدی</a>
                                </li>
                            }
                            else

                            {
                                <li class="page-item">
                                    <a class="page-link" href="/Admin/Order/AllOrder?pageId=@(ViewBag.PageId+1)&InPageCount=@ViewBag.InPageCount&OrderId=@ViewBag.OrderId&TellNo=@ViewBag.TellNo&StartDate=@ViewBag.StartDate&EndDate=@ViewBag.EndDate&StatusSelected=@ViewBag.StatusSelected">بعدی</a>
                                </li>

                            }
                            <li>
                                <select id="InPageCount" class="custom-select custom-select-sm">
                                    @if (ViewBag.InPageCount == 0)
                                    {
                                        <option value="0" selected>18 در هر صفحه</option>
                                        <option value="20">20 در هر صفحه</option>
                                        <option value="30">30 در هر صفحه</option>
                                        <option value="40">40 در هر صفحه</option>

                                    }

                                    @if (ViewBag.InPageCount == 20)
                                    {
                                        <option value="0">18 در هر صفحه</option>
                                        <option value="20" selected>20 در هر صفحه</option>
                                        <option value="30">30 در هر صفحه</option>
                                        <option value="40">40 در هر صفحه</option>

                                    }
                                    else if (ViewBag.InPageCount == 30)
                                    {
                                        <option value="0">18 در هر صفحه</option>
                                        <option value="20">20 در هر صفحه</option>
                                        <option value="30" selected>30 در هر صفحه</option>
                                        <option value="40">40 در هر صفحه</option>

                                    }
                                    else if (ViewBag.InPageCount == 40)
                                    {
                                        <option value="0">18 در هر صفحه</option>
                                        <option value="20">20 در هر صفحه</option>
                                        <option value="30">30 در هر صفحه</option>
                                        <option value="40" selected>40 در هر صفحه</option>
                                    }


                                </select>
                            </li>
                        </ul>
                    </nav>
                </nav>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="statusSelected" />
@section Script{
    <script src="~/datePersion/prism.js"></script>
    <script src="~/datePersion/persianDatepicker.js"></script>
    <script>
        $(function () {
            //selectedBefor & selectedDate
            $("#startDate").persianDatepicker();
            $("#endDate").persianDatepicker();
        });
    </script>

    <script>
        $("input[type=radio]").change(function () {
            $('#statusSelected').val($(this).val());;
        });
        function deleteFractional(id) {
            $("#overlay").fadeIn(300);
            $.get("/Admin/Order/DeleteFractional/" + id, function () {
                window.location.reload();
            });
        }
        function redreshFractional(id) {
            $("#overlay").fadeIn(300);
            $.get("/Admin/Order/RedreshFractional/" + id, function () {
                window.location.reload();
            });
        }

        function SabteCodeMarsole(id) {
            $(".modal-content").html("");
            $.get("/Admin/Order/CodeMarsole/" + id, function (result) {
                $(".modal-content").html(result);
            });
        }
        function OrderInfo(id) {
            $(".modal-content").html("");
            $.get("/Admin/Order/Info/" + id, function (result) {
                $(".modal-content").html(result);
            });
        }

        function SendOrder(id) {
            $(".modal-content").html("");
            $("#overlay").fadeIn(300);
            $.get("/Admin/Order/SendOrder/" + id, function () {
                window.location.reload();
            });
        }

        function DoneOrder(id) {
            $(".modal-content").html("");
            $("#overlay").fadeIn(300);
            $.get("/Admin/Order/DoneOrder/" + id, function () {
                window.location.reload();

            });
        }

        function BtnSearch() {
            $("#overlay").fadeIn(300);
            var OrderId = $("#SearchInputId").val();
            var TellNo = $("#SearchInputUserPhone").val();
            var StartDate = $("#startDate").val();
            var EndDate = $("#endDate").val();
            var pageId = $("#pageNumber option:selected").val();
            var InPageCount = $("#InPageCount option:selected").val();
            var StatusSelected = $("#statusSelected").val();
            window.location.href = "/Admin/Order/AllOrder?pageId=" + pageId + "&InPageCount=" + InPageCount + "&OrderId=" + OrderId + "&TellNo=" + TellNo + "&StartDate=" + StartDate + "&EndDate=" + EndDate + "&StatusSelected=" + StatusSelected;
        }


        $("#pageNumber").change(function () {
            $("#overlay").fadeIn(300);
            var pageId = $("#pageNumber option:selected").val();
            var InPageCount = $("#InPageCount option:selected").val();
            var OrderId = $("#SearchInputId").val();
            var TellNo = $("#SearchInputUserPhone").val();
            var StartDate = $("#startDate").val();
            var EndDate = $("#endDate").val();
            var StatusSelected = $("#statusSelected").val();
            window.location.href = "/Admin/Order/AllOrder?pageId=" + pageId + "&InPageCount=" + InPageCount + "&OrderId=" + OrderId + "&TellNo=" + TellNo + "&StartDate=" + StartDate + "&EndDate=" + EndDate + "&StatusSelected=" + StatusSelected;

        });


        $("#InPageCount").change(function () {
            $("#overlay").fadeIn(300);
            var pageId = $("#pageNumber option:selected").val();
            var InPageCount = $("#InPageCount option:selected").val();
            var OrderId = $("#SearchInputId").val();
            var TellNo = $("#SearchInputUserPhone").val();
            var StartDate = $("#startDate").val();
            var EndDate = $("#endDate").val();
            var StatusSelected = $("#statusSelected").val();
            window.location.href = "/Admin/Order/AllOrder?pageId=" + pageId + "&InPageCount=" + InPageCount + "&OrderId=" + OrderId + "&TellNo=" + TellNo + "&StartDate=" + StartDate + "&EndDate=" + EndDate + "&StatusSelected=" + StatusSelected;

        });

    </script>
}
