@model DataLayer.Models.TblProduct
@{ ViewData["Title"] = "افزودن ویژگی";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">

            <div class="form-row mt-3">
                <div class="form-group col-md-5 ">
                    <label class="uk-text-bold mr-2">افزودن ویژگی</label>

                    <a onclick="CreateProperty()" data-toggle="modal" data-target="#modalSave" class="btn btn-info btn-sm text-white">افزودن</a>
                    <a onclick="saveProperty()" class="btn btn-success btn-sm text-white">ذخیره</a>
                    <a href="/Admin/Product" class="btn btn-primary btn-sm text-white pull-right ml-4 LoadingDiv">انصراف</a>

                </div>
                <div class="form-group col-md-2 mt-md-4 pt-2">
                </div>
            </div>
            <hr class="uk-margin-remove" />
            <form id="myFormProperty" action="AddProperty" method="post" class="overflow-auto mb-3 mt-2">
                <input id="id" name="id" type="hidden" value="@ViewBag.id" />
                <aside id="PropertyPanel">
                    @foreach (var item in Model.TblProductPropertyRel.OrderBy(i => i.ProductPropertyRelId))
                    {
        <div id="PropertyInCreate-@item.PropertyId" class="form-inline col-md-7 mt-2">
            <label class="ml-5 p-0 col-md-2 uk-text-right justify-content-start">@item.Property.Name:</label>
            <input id="PropetryNameId" name="PropertyId" type="hidden" value="@item.PropertyId" />
            <input id="PropertyValue" name="Value" class="form-control form-control-sm col-md-3 col-9" value="@item.Value" maxlength="110">
            <a onclick="DeleteProperty(@item.PropertyId)" class="text-danger mr-1" uk-icon="close-circle">
            </a>
        </div>}
                </aside>
            </form>
        </div>

    </div>
</div>




















@section Script{
    <script src="~/js/bootstrap-tagsinput.js"></script>
    <script src="~/js/Auto_Formatting_Currency.js"></script>
    <script>
        function saveProperty() {
            $("#overlay").fadeIn(300);
            document.getElementById("myFormProperty").submit();
        }
        function CreateProperty() {
            $.get("/Admin/Product/PropertyList", function (result) {
                $(".modal-content").html(result);
            });
        }


        function DeleteProperty(id, mainId) {
            $("#PropertyInCreate-" + id).remove();
            //$("#overlay").fadeIn(300);
            //var isDeleted = Bjax('/Admin/Product/DeleteProperty?id=', mainId, 'SP');
            //if (isDeleted) {
            //    $("#PropertyInCreate-" + id).remove();
            //    $("#overlay").fadeOut(300);
            //}
        }
    </script>

}
