@model DataLayer.Models.TblProduct
@{
    ViewData["Title"] = "ویرایش محصول";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">

        <form asp-action="edit" asp-controller="Product" asp-area="Admin" method="post" class="card flex-div border-0 main-shadow" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <input type="hidden" value="@Model.ProductId" asp-for="ProductId" />
            <div class="card-body flex">
                <ul uk-accordion class="bg-light mt-3 pt-3 pb-3 uk-text-small uk-border-rounded">
                    <li class="col-md-4">
                        <a class="uk-accordion-title uk-text-small" href="#">دسته بندی</a>
                        <div class="uk-accordion-content">
                            <ul class="uk-margin-right" uk-accordion>
                                @{
                                    IEnumerable<DataLayer.Models.TblCatagory> Parentcatagories = ViewBag.Parentcatagories;
                                }
                                @foreach (var item in Parentcatagories)
                                {
                                    <li>
                                        @if (!item.IsOnFirstPage)
                                        {
                                            <a class="uk-accordion-title uk-text-small">@item.Name</a>
                                        }
                                        else
                                        {
                                            <a id="Cat-@item.CatagoryId" class="uk-accordion-title uk-text-small Cat" onclick="SelectCatagory(@item.CatagoryId)">@item.Name</a>
                                        }
                                        <div class="uk-accordion-content">
                                            <ul class="uk-margin-right" uk-accordion>
                                                @await Component.InvokeAsync("ShowChildsCatagoryInCreateProduct", new { Id = item.CatagoryId })
                                            </ul>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                </ul>
                <input type="hidden" asp-for="CatagoryId" value="@Model.CatagoryId" />
                <small class="text-success">دسته بندی انتخاب شده @ViewBag.CatagoryName</small>
                <span id="CatagoryIdErorr" asp-validation-for="CatagoryId" class="text-danger"></span>
                <hr />
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <select asp-for="BrandId" class="form-control form-control-sm">
                            @{
                                IEnumerable<DataLayer.Models.TblBrand> Brands = ViewBag.Brands;
                            }
                            <option value="0">لطفا برند خود را مشخص کنید</option>
                            @foreach (var item in Brands)
                            {
                                if (Model.BrandId == item.BrandId)
                                {
                                    <option selected value="@item.BrandId">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.BrandId">@item.Name</option>
                                }
                            }
                        </select>
                        <input type="hidden" asp-for="BrandId" />
                        <span id="BrandIdErorr" asp-validation-for="BrandId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="form-group col-md-3">
                        <label>نام محصول</label>
                        <input asp-for="Name" class="form-control form-control-sm" placeholder="مثال : شارژر">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label>قیمت</label>
                        <input data-type='currency' class="form-control form-control-sm PriceInput" value="@Model.PriceBeforeDiscount" placeholder="مثال : 80,000 تومان">
                        <input asp-for="PriceBeforeDiscount" type="hidden" />
                        <span asp-validation-for="PriceBeforeDiscount" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label>قیمت بعد از تخفیف</label>
                        @*<input data-type='currency' class="form-control form-control-sm PriceInputDiscount" value="@Model.PriceAfterDiscount" placeholder="مثال : 1,000,000">
                        <input type="hidden" asp-for="PriceAfterDiscount" />*@
                        <input asp-for="PriceAfterDiscount" class="form-control form-control-sm" placeholder="مثال : 1,000,000">
                        <span asp-validation-for="PriceAfterDiscount" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <img style="max-width: 150px !important; margin:0 auto" src="~/Images/ProductMain/thumb/@Model.MainImage" />
                </div>
                <div class="custom-file col-md-7 mt-3">
                    <input asp-for="MainImage" type="file" accept="image/x-png,image/gif,image/jpeg" class="custom-file-input form-control form-control-sm" onchange="inputChanged(this)">
                    <label class="custom-file-label" for="Image" data-browse="انتخاب" id="FileName">انتخاب تصویر اصلی</label>
                </div>
                <span id="MainImageErorr" class="text-danger" asp-validation-for="MainImage"></span>
                <div class="form-row mt-3">
                    <div class="form-group col-md-3">
                        <label>متن جستجو</label>
                        <input asp-for="SearchText" class="form-control form-control-sm" placeholder="مثال : ...">
                        <span class="text-danger" asp-validation-for="SearchText"></span>
                    </div>
                    <div class=" col-md-2 mt-4 pt-3 mr-3">
                        <input asp-for="IsFractional" type="checkbox"> فروش اقساطی
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @{
                            IEnumerable<DataLayer.Models.TblProductKeywordRel> keywordsList = ViewBag.keywords;
                        }
                        <input type="text" value="

                                       @foreach (var item in keywordsList)
                                        {
                                        @item.Keyword.Name@:,
                                        }

                                       " data-role="tagsinput" id="tags" class="form-control" placeholder="کلمات کلیدی">
                    </div>
                    <span class="text-danger" asp-validation-for="TblProductKeywordRel"></span>
                </div>

                <hr />
                <div class="mt-3">
                    <label class="ml-5">توضیحات کوتاه :</label>
                    <textarea id="DescriptionShortHtml" asp-for="DescriptionShortHtml"></textarea>
                    <span class="text-danger" asp-validation-for="DescriptionShortHtml"></span>
                </div>
                <div class="mt-3">
                    <label class="ml-5">توضیحات کامل :</label>
                    <textarea id="DescriptionLongHtml" asp-for="DescriptionLongHtml" style="max-height:300px !important;"></textarea>
                    <span class="text-danger" asp-validation-for="DescriptionLongHtml"></span>
                </div>


            </div>
            <div class="card-footer bg-white">
                <span class="text-danger" id="SubmitErorr"></span>
                <a href="/Admin/Product" class="btn btn-primary btn-sm text-white pull-right ml-4 LoadingDiv">انصراف</a>
                <button id="SubmitCreateProduct" type="submit" class="btn btn-success btn-sm text-white pull-right ml-4">ویرایش<span class="icon-holder uk-margin-small-right" uk-icon="create-outline"></span></button>
            </div>
        </form>
    </div>
</div>


@section Script{
    <script src="~/js/BjaxLib.js"></script>
    <script src="~/js/bootstrap-tagsinput.js"></script>
    <script src="~/js/Auto_Formatting_Currency.js"></script>
    <style>
        .dz-error-message {
            display: none !important;
        }
    </style>
    <script>

        function RemoveTagInput(NameInput) {
            var id = `#${NameInput}`.replace(/\s/g, '');
            $(id).remove();
        }

        //Controll
        $("#SubmitCreateProduct").click(function () {
            $("#overlay").fadeIn(300);
            setInterval(3000, function () {
                $("#overlay").fadeIn(300);
            });
        });

        $("#BrandId").change(function () {
            var CatagoryId = $("#CatagoryId").val();
            var BrandId = $("#BrandId option:selected").val();
            var ColorPanel = $("#ColorPanel").children();
            if (CatagoryId == null || CatagoryId == "" || BrandId == 0 || ColorPanel.length == 0) {
                $("#SubmitErorr").html("دسته بندی , برند و رنگ اجباری است");
                $("#SubmitCreateProduct").attr("disabled", "disabled");
            } else {
                $("#SubmitErorr").html("");
                $("#SubmitCreateProduct").removeAttr("disabled");
            }
        });

        function SetNewInputGallery() {
            $("#GalleryPanel").append(
                `<div class="custom-file col-md-7 mt-3">
                                                                                                                                   <input type="file" class="custom-file-input form-control form-control-sm" accept="image/x-png,image/gif,image/jpeg" name="GalleryFile" onchange="inputChanged(this)"/>
                                                                                                                                   <label class="custom-file-label" data-browse="انتخاب">
                                                                                                                                        انتخاب فایل
                                                                                                                                   </label>
                                                                                                                                 </div>`
            );

            //$("#GalleryPanel").append("<div><input type='file' accept='image/x-png,image/gif,image/jpeg' name='GalleryFile'/></div>");
        }

        function inputChanged(sender) {
            var fileName = sender.files[0].name;
            sender.parentElement.querySelector('.custom-file-label').innerHTML = fileName;
        }

        function RemoveInputGallery() {
            $("#GalleryPanel div").last().remove();
        }

        $(function () {
            $('#DescriptionShortHtml').ckeditor();
            $('#DescriptionLongHtml').ckeditor();
        });
        if (CatagoryId != null || CatagoryId != "") {
            var Id = $("#CatagoryId").val();
            $("#Cat-" + Id).css('color', '#3E9731');
            $("#Cat-" + Id).css('font-weight', 'bold');
        }
        function SelectCatagory(Id) {
            var idSelect = $("#CatagoryId").val();
            $("#Cat-" + idSelect).css('color', '#666');
            $("#Cat-" + idSelect).css('font-weight', 'normal');
            $("#Cat-" + Id).css('color', '#3E9731');
            $("#Cat-" + Id).css('font-weight', 'bold');
            $("#CatagoryId").val(Id);
            var CatagoryId = $("#CatagoryId").val();
            var BrandId = $("#BrandId option:selected").val();
            if (CatagoryId == null || CatagoryId == "" || BrandId == 0) {
                $("#SubmitErorr").html("دسته بندی , برند و رنگ اجباری است");
                $("#SubmitCreateProduct").attr("disabled", "disabled");
            } else {
                $("#SubmitErorr").html("");
                $("#SubmitCreateProduct").removeAttr("disabled");
            }
        };

        $("#SubmitColor").click(function () {
            var Color = $("#InputColor").val();
            var Name = $("#InputColorName").val();
            var Count = $("#InputColorCount").val();
            if (Color == null || Color == "" || Name == null || Name == "" || Count == null || Count == "") {
                $("#TblColor").html("همه موارد برای ثبت رنگ الزامی میباشد");
            } else {
                $("#TblColor").html("");
                $("#InputColor").val("");
                $("#InputColorName").val("");
                $("#InputColorCount").val("");
                $("#ColorPanel").html(
                    $("#ColorPanel").html() +
                    "<div onclick='RemoveColorPat(this)' class='form-row'><label class='mr-2'>رنگ :" + Name + "</label><div class='uk-border-rounded mr-2 color-box' style='background:" + Color + ";'></div><label class='mr-2'>" + Count + " عدد</label><input type='hidden' name='Colors' value='" + Color + "' /><input type='hidden' name='ColorsCounts' value='" + Count + "' /><input type='hidden' name='ColorName' value='" + Name + "' /><span class='text-danger'>&nbsp;(x)</span></div>"
                );
                if (CatagoryId == null || CatagoryId == "" || BrandId == 0) {
                    $("#SubmitErorr").html("دسته بندی , برند و رنگ اجباری است");
                    $("#SubmitCreateProduct").attr("disabled", "disabled");
                } else {
                    $("#SubmitErorr").html("");
                    $("#SubmitCreateProduct").removeAttr("disabled");
                }
            }
        });

        function RemoveColorPat(par) {
            par.parentElement.removeChild(par)
        }

        function CreateProperty() {
            $.get("/Admin/Product/PropertyList", function (result) {
                $(".modal-content").html(result);
            });
        }

        function DeleteProperty(id, mainId) {
            $("#overlay").fadeIn(300);
            var isDeleted = Bjax('/Admin/Product/DeleteProperty?id=', mainId, 'SP');
            if (isDeleted) {
                $("#PropertyInCreate-" + id).remove();
                $("#overlay").fadeOut(300);
            }
        }

        $(".PriceInput").change(function () {
            var price = $(this).val().replaceAll(",", "");
            if ($.isNumeric(price)) {
                console.log($("#PriceBeforeDiscount").val().replaceAll(",", ""));
                $("#PriceBeforeDiscount").val($(this).val().replaceAll(",", ""));
            } else {
                $(this).val("");
            }
        });
        $(".PriceInputDiscount").change(function () {
            var price = $(this).val().replaceAll(",", "");
            if ($.isNumeric(price)) {
                $("#PriceAfterDiscount").val($(this).val().replaceAll(",", ""));
            } else {
                $(this).val("");
            }
        });
        function RemoveImageGallery(imageId) {
            $("#overlay").fadeIn(300);
            $.post("/Admin/Product/RemoveAlbumImage/" + imageId, function (result) {
                if (result == "true") {
                    $("#overlay").fadeOut(300);
                    $("#Img-" + imageId).remove();
                    $("#RemoveGallery-" + imageId).remove();
                }
            });
        }

    </script>
}