@model IEnumerable<DataLayer.Models.TblRegularQuestion>
@{
    ViewData["Title"] = "سوالات";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">
                <div class="pt-2">
                    <div class="form-toolbar">
                        <button id="Create" data-toggle="modal" data-target="#modalSave" type="button" class="btn btn-success btn-sm">افزودن<span class="icon-holder uk-margin-small-right" uk-icon="add-circle-outline"></span></button>
                    </div>
                </div>
            </div>
            <!--list region-->
            <div id="card-table" class="card-body flex-div">
                <div class="table-responsive flex">
                    <table class="table fixed">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">کد پرسش</th>
                                <th scope="col">سوال </th>
                                <th scope="col">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.RegularQuestionId</td>
                                    <td>@item.Answer</td>
                                    <td>
                                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="جزئیات">
                                            <a onclick="Information(@item.RegularQuestionId)" data-toggle="modal" data-target="#modalSave" class="text-primary" uk-icon="information-circle-outline"></a>
                                        </span>
                                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="ویرایش">
                                            <a onclick="Edit(@item.RegularQuestionId)" data-toggle="modal" data-target="#modalSave" class="text-primary" uk-icon="create-outline"></a>
                                        </span>
                                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="حذف">
                                            <a onclick="Delete(@item.RegularQuestionId)" class="text-danger" uk-icon="trash"></a>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <!--end list region-->
            <div class="card-footer bg-white">
                <nav aria-label="Page navigation example">
                    @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                </nav>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script>

        $("#Create").click(function () {
            $(".modal-content").html("");
            $.get("/Admin/RegularQuestion/Create", function (result) {
                $(".modal-content").html(result);
            });
        });

        function Edit(id) {
            $(".modal-content").html("");
            $.get("/Admin/RegularQuestion/Edit/" + id, function (result) {
                $(".modal-content").html(result);
            });
        }


        function Information(id) {
            $(".modal-content").html("");
            $.get("/Admin/RegularQuestion/RegularQuestionInfo/" + id, function (result) {
                $(".modal-content").html(result);
            });
        }

        function Delete(id) {
            if (confirm('آیا از حذف سوال  مورد نظر مطمئن هستید؟')) {
                $.post("/Admin/RegularQuestion/Delete/" + id, function () {
                    window.location.reload();
                });
            } else {
                // Do nothing!
            }


        }

    </script>
}