@model IEnumerable<TblOfflineOrder>
@{
    ViewData["Title"] = "فاکتورها";
}
<div class="account-content content-comment-account">


    <div class="header-tab-content-account  mb-4">
        <h1 class="title-tabcontent-account mb-3 mb-sm-0">
            سفارش های آفلاین

        </h1>
    </div>
    @if (Model.Any())
    {
        <div class="main-content-account">
            <div id="accordionone" class="area-Orders-account ">

                @foreach (var item in Model)
                {
                    <div class="card card-Orders-account mb-3">
                        <div class="card-header">
                            <div class="header-content-orders  d-sm-flex align-items-center justify-content-between"
                                 data-toggle="collapse" data-target="#onlineOrder_@item.OnlineOrderId"
                                 aria-expanded="false" aria-controls="onlineOrder_@item.OnlineOrderId" id="headingfour">
                                <div class="id-product-order item-header-orders">شماره سفارش: @item.OnlineOrderId</div>
                                <div class="date-order item-header-orders">
                                    <i class="fal fa-clock ml-1"></i>@item.DateSubmited.Value.ToShortDateString()
                                </div>
                                @if (item.IsRead)
                                {
                                    <div class="stutus-order stutus-order-success item-header-orders">
                                        تائید
                                    </div>
                                }
                                else
                                {
                                    <div class="stutus-order stutus-order-blue item-header-orders">
                                        درحال
                                        پردازش
                                    </div>
                                }
                                <div class="price-product-order item-header-orders">
                                    <span>
                                        نام محصول:
                                    </span>
                                    @item.Product.Name 
                                </div>
                            </div>
                        </div>
                        <div id="onlineOrder_@item.OnlineOrderId" class="collapse collapse-content-orders"
                             aria-labelledby="headingfour" data-parent="#accordionfour">
                            <div class="card-body">
                                <div class="area-content-orders d-sm-flex align-items-center justify-content-between mb-12 mb-sm-12">

                                    <div class="d-flex flex-row flex-sm-column justify-content-center align-items-center">
                                        موضوع:
                                        <span>@item.Title</span>
                                    </div>
                                </div>
                                <div class="area-details-bottom-orders d-sm-flex justify-content-between align-items-center  border-top py-4">

                                    <div class="details-bottom-content-orders details-bottom-content ml-12">
                                        <span>توضیحات : </span>
                                        <span>@item.Body </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
    }

</div>



@section Scripts{

    <script>
        $('.list-group-item').removeClass('active');
        $('#comment-tab').addClass('active');

    </script>
}
