<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="manifest" href="/manifest.json" />
    <script src="/app.js"></script>
    <script src="/sw.js"></script>


    <link rel="apple-touch-icon" href="~/Images/Icon/icon_96.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#f2eefe" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#f2eefe" />
    <meta name="theme-color" content="#f2eefe" />

    <meta name="description" content="@(ViewData["Description"] ?? "سایت خرید و فروش آنلاین گوشی های موبایل به صورت اقساطی")">
    <meta name="keywords" content="@(ViewData["Keywords"] ?? "آرمان سلامت آریا، گوشی، تلفن، خرید، آنلاین، اقساطی")">
    <meta name="author" content="صدرا محمدی، ینال احمدزاده، مهدی سهندی">

    <title>@(ViewData["Title"] ?? " آرمان سلامت آریا")</title>


    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">


    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#810081">

    @RenderSection("Styles", false)



    <link rel="stylesheet" href="~/galeb/css/bootstrap-rtl.min.css">
    <!--refrence carousel-->
    <link rel="stylesheet" href="~/galeb/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/galeb/css/owlcarousel/owl.theme.default.min.css">
    <!--refrence carousel-->
    <link href="~/galeb/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/galeb/css/all.min.css">
    <link rel="stylesheet" href="~/galeb/css/respansive.css">
    <link rel="stylesheet" href="~/galeb/css/animate.min.css">

    <link href="~/css/Load.css" rel="stylesheet" />
    <style>
        body {
            background-color: #f2eefe !important;
        }
    </style>
</head>

<body id="body-homepage">
    <!--<div id="Modal-subscribe" class="modal fade subscribe-popup" role="dialog">
        <div class="modal-dialog">-->
    <!-- Modal content-->

    <div class="bg-close">
    </div>
    <div class="bg-searchform">
        <div class="area-searchform">
            <div class="area-close-search">
                <a href="#"><i class="fal fa-times"></i></a>
            </div>
            <form class="search-form d-flex w-100" action="/Product" method="get">
                <input type="text" name="nameSearch" class="form-control input_search" placeholder="دنبال چه میگردید">
                <button type="submit">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z">
                        </path>
                        <path fill-rule="evenodd"
                              d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z">
                        </path>
                    </svg>
                </button>
            </form>
        </div>
    </div>
    <header class="my-site-header" id="my-header">
        <div class="topbar-site d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="d-flex align-items-center ">
                            <!-- #region Contact Header-->
                            @await Component.InvokeAsync("ContactHeaderComponent")

                            <!-- #endregion Contact Header -->

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex align-items-center justify-content-end">
                            <div class="user-account d-none d-md-block">
                                <a href="/Login">
                                    <span>حساب کاربری</span>
                                    <i class="fal fa-user"></i>
                                </a>
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="user-account d-none d-md-block">


                                    <a href="/LogOut">
                                        <span>خروج </span>
                                        <i class="fal  fa-sign-out"></i>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="serv-navbar">
            <div class="container">
                <div class="row" style="position: relative;">
                    <div class="col-4 col-lg-2 order-2 order-lg-1 d-flex justify-content-center justify-content-lg-start">
                        <div class="area-logo">
                            <a href="/"><img src="~/Logo.png" class="img-fluid" /></a>
                        </div>
                    </div>
                    <div class="col-4 col-lg-8 order-1 order-lg-2 d-flex align-items-center col-main_menu">
                        <div class="main_menu h-100 d-none d-lg-block">
                            <ul class="d-flex h-100 align-items-center ">
                                <li>
                                    <a href="/">صفحه اصلی</a>
                                </li>
                                <li>
                                    <a href="/Product">محصولات<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <!-- #region Category Product -->
                                    @await Component.InvokeAsync("CatagoryInMenuHomeComponent")

                                    <!-- #endregion Category Product -->

                                </li>
                                <li>
                                    <a href="/Blog">مقاله ها<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <!-- #region Category Product -->
                                    @await Component.InvokeAsync("CatagoryInMenuBlogHomeComponent")

                                    <!-- #endregion Category Product -->
                                </li>
                                <li class="container-mega-menu">
                                    <a href="shop-left-sidebar.html">
                                        محصولات<i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </a>
                                    <!-- #region Category Product -->
                                    @await Component.InvokeAsync("CatagoryProductListInMenuHomeComponent")

                                    <!-- #endregion Category Product -->
                                </li>
                                <li class="container-mega-menu">
                                    <a href="/About">
                                        درباره ما
                                    </a>
                                </li>
                                <li class="container-mega-menu">
                                    <a href="/Contact">
                                        تماس با ما
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="icon_meni_bar">
                            <a class="d-block d-lg-none"><i class="fas fa-bars "></i></a>
                        </div>
                        <div id="menu_mobile" class="menu_mobile">
                            <div class="header_menu_mobile d-flex align-items-center">
                                <button type="button" class="close close_menu_mobile" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <div class="area-logo">
                                    <a href="/"><img src="~/Logo.png" class="img-fluid" /></a>
                                </div>
                            </div>
                            <div class="area_menu_mobile menu-top-menu-container" id="accordian">
                                <ul class="menu-multi-level">
                                    <li>
                                        <a href="/">صفحه اصلی</a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">محصولات</a>
                                        @await Component.InvokeAsync("CatagoryMobileInMenuHomeComponent")
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">مقاله ها</a>
                                        @await Component.InvokeAsync("CatagoryMobileInMenuBlogHomeComponent")
                                    </li>
                                    <li><a href="/Login">ورود</a></li>
                                    <li><a href="/Register">ثبت نام</a></li>
                                    <li><a href="/About">درباره ما</a></li>
                                    <li>
                                        <a href="/Contact">تماس با ما</a>
                                    </li>




                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-lg-2 order-3 order-lg-3">
                        <div class="area-widget_navbar d-flex align-items-center justify-content-end h-100">
                            <div class="icon-search item_widget_navbar d-none d-lg-block">
                                <a href="#">
                                    <i class="fas fa-search"></i>
                                </a>
                            </div>
                            <div class="icon-wishlist item_widget_navbar d-none d-lg-block">

                            </div>
                            <div class="icon-shooping-cart item_widget_navbar">
                                <a href="#" onclick="showListProduct()">
                                    <i class="fal fa-shopping-cart"></i>
                                    <span id="countShopCart" class="badge_count"></span>
                                </a>
                                <div class="box-add-to-cart-header" id="showListProduct">

                                </div>
                            </div>
                            <div class="area-widget-header-fixed d-block d-lg-none">
                                <div class="widget-header-fixed d-flex justify-content-between align-items-center">
                                    <div class="icon-search widget-header">
                                        <a href="#" class="d-flex justify-content-center align-items-center">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </div>

                                    <div class="account-user widget-header">
                                        <a href="/Login" class="d-flex justify-content-center align-items-center">
                                            <i class="fal fa-user"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    @RenderBody()

    <footer class="area-footer">
        <div class="area-content-footer">
            <div class="container">
                <div class="row">
                    <div class="wow slideInRight col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">

                        <div class="widget_footer">
                            <div class="title_widget_footer mb-3">
                                اطلاعات
                            </div>
                            <div class="contenet_widget_footer">
                                <ul>
                                    <li><a href="/About">درباره ما</a></li>
                                    <li><a href="/OrderDetails">راهنمای سفارش و خرید</a></li>
                                </ul>
                            </div>
                        </div>




                    </div>
                    <div class="wow slideInUp col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="widget_footer">
                            <div class="title_widget_footer mb-3">
                                حساب کاربری
                            </div>
                            <div class="contenet_widget_footer">
                                <ul>
                                    <li><a href="/Login">ورود </a></li>
                                    <li><a href="/Register">ثبت نام </a></li>
                                    <li><a href="/User/Home">سفارش های من</a></li>
                                    <li><a href="/User/Account/Info">مشخصات کاربری من</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="wow slideInDown col-12 col-sm-6 col-lg-3 mb-4 mb-sm-0">
                        <div class="widget_footer">
                            <div class="title_widget_footer mb-3">
                                خدمات
                            </div>
                            <div class="contenet_widget_footer">
                                <ul>
                                    <li><a href="/SharyeteErsal">شرایط ارسال و عودت</a></li>
                                    <li><a href="/RegularQuestion">پرسش های متداول</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="wow slideInLeft col-12 col-sm-6 col-lg-3">
                        <div class="widget_footer">
                            <div class="title_widget_footer mb-3">
                                تماس با ما
                            </div>
                            @await Component.InvokeAsync("ContactFooterComponent")

                        </div>
                        <button class="mt-3 btn btn-animate1 pl-4 pr-4 mr-1" onclick="promptInstall()">نصب در گوشی</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="area-copyright  py-4 ">
            <div class="container">
                <div class="row justify-content-between align-items-center ">
                    <div class="col-12 col-sm-6">
                        <div class="copyright" style="color:white">
                            کلیه حقوق این سایت متعلق به  شرکت آرمان سلامت آریا می باشد، طراحی و توسعه توسط
                            <strong style="color: #6f91cb"><a style="color: #6f91cb" href="https://arvintavco.com">ایده پرداز آروین تاو</a></strong>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <!--Loading-->
    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>
    <!--Loading-->



    <a class="scrollTo scroll-To-top " href=".topbar-site" style=" bottom: 5rem !important;"></a>
    <script src="~/galeb/js/jquery-3.5.0.min.js"></script>
    <script src="~/galeb/js/bootstrap.min.js"></script>
    <!--refrence carousel-->
    <script src="~/galeb/js/carousel/owl.carousel.min.js"></script>
    <!--refrence carousel-->
    <script type="text/javascript" src="~/galeb/js/main.js"></script>
    <script type="text/javascript" src="~/galeb/js/wow.min.js"></script>


    <script>
        //function LoadingRun(form) {
        //    if (!$(form).valid()) return;
        //    $("#overlay").fadeIn(300);
        //}
        //function LoadingEnd(form) {
        //    $("#overlay").fadeOut(300);
        //    $(form)[0].reset();
        //}
        $(function () {
            shopCountProduct();
        });
        function shopCountProduct() {
            $.get("/api/Shop", function (res) {
                $("#countShopCart").html(res);
            });
        }
        function AddToCart(id) {
            $.get("/api/Shop/" + id, function (res) {
                $("#countShopCart").html(res);
                shopCountProduct();
            });
        }

        function showListProduct() {
            shopCountProduct();
            $.get("/ShopCart/ShowListProduct", function (res) {
                $("#showListProduct").html(res);
            });
        }

    </script>
    <script>
        $(window).on("scroll", function () {
            if ($(window).scrollTop() > 50) {
                $("#myCategory").addClass("MoveTop");

            }
            else {
                //remove the background property so it comes transparent again (defined in your css)
                $("#myCategory").removeClass("MoveTop");
            }
        });
    </script>

    <script>
        $(window).on("scroll", function () {
            if ($(window).scrollTop() > 50) {
                $("#my-header").addClass("active-header");

            } else {
                //remove the background property so it comes transparent again (defined in your css)
                $("#my-header").removeClass("active-header");
            }
        });
    </script>

  

    @*<script src="~/Jquery/jquery-3.4.1.min.js"></script>*@


    @*<script src="~/Validate/jquery.validate.min.js"></script>
        <script src="~/Validate/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Validate/jquery.validate.unobtrusive.js"></script>
        <script src="~/Validate/jquery.unobtrusive-ajax.min.js"></script>*@

    @RenderSection("Scripts", false)

</body>
</html>
