@model IEnumerable<DataLayer.Models.TblCatagory>
<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">

        زیر مجموعه دسته بندی @ViewBag.ParentName

    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form class="flex-div">
    <div class="modal-body flex-div">
        <div class="card categry-box flex-div">
            <div class="card-header">

            </div>
            <div class="card-body flex p-0">
                <ul class="list-group list-group-flush pb-4">

                    @if (Model.Count() == 0)
                    {
                        <li>خالی است</li>
                    }
                    else
                    {

                        foreach (var item in Model)
                        {
                            <li class="list-group-item userId_@item.CatagoryId catId_@item.CatagoryId" >
                                <div class="row">

                                    <a class="col-xl-10 col-lg-10  col-sm-9 col-5">@item.Name</a>

                                    <div class="col-xl-2 col-lg-2  col-sm-3 col-5">
                                        <div class="option d-flex">
                                            <a onclick="EditCatagory(@item.CatagoryId)" data-placement="top" data-toggle="tooltip"><i class="btn ml-2 text-primary" uk-icon="create-outline"></i></a>
                                            <a onclick="Delete(@item.CatagoryId)" data-placement="top" data-toggle="tooltip"><i class="btn ml-2 text-danger" uk-icon="trash-outline"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }

                    }
                </ul>
            </div>
        </div>
        <div class="input-group input-group-sm mt-3">
            <div class="input-group-append">

                <a onclick="CreateChildCatagory(@ViewBag.Id)" class="btn btn-success btn-sm text-white float-right">افزودن زیرمجموعه<span class="icon-holder uk-margin-small-right" uk-icon="add-circle-outline"></span></a>

            </div>
        </div>
    </div>
</form>

<script>
    function Delete(id) {
        $.get("/Admin/Catagory/Delete/" + id, function (result) {
            if (result == "true") {
                $('.userId_' + id).addClass('uk-text-danger');
                $(".userId_" + id).hide('slow');

            } else if (result == "false") {
                UIkit.notification('این دسته بندی نمیتواند حذف شود');
            }
        });
</script>